@use "common";
@use "normalize";
 
$main-color: #EEEFF1;
$secondary-color: #34547A;
$text-letter-spacing: 0.1em;
$main-text-color: #727272;
$text-white-color: white;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  min-width: 1150px;
}

.header {
  background-color: $main-color;
}

.container {
  max-width: 1150px;
  padding-inline: 20px;
  margin-inline: auto;
  padding-block: 100px;

  .header & {
    padding-block: 0 141px;
  }
}

.navbar {
  &__list {
    display: flex;
    gap: 42px;
    margin-block: 0;
    padding-block: 80px;
    padding-inline: 0;
  }

  &__item {
    list-style-type: none;

    a {
      text-decoration: none;
      text-transform: uppercase;
      color: #000;
      letter-spacing: $text-letter-spacing; 

      &:hover {
        color: $secondary-color; 
      }
    }
  }
}

.paragraph {
  color: $main-text-color;
  font-size: 16px;
  max-width: 540px;
  line-height: 26px;
  letter-spacing: 0.05em;
}

.description {
  h1 {
    padding-top: 80px;
    padding-bottom: 60px;
    font-size: 48px;
    font-weight: 500;
    margin: 0;
  }

  &__about {
    margin: 0;
    padding-bottom: 65px;
  }

  &__button {
    color: $text-white-color;
    background-color: $secondary-color;
    border: 0;
    letter-spacing: $text-letter-spacing;
    text-transform: uppercase;
    padding-inline: 41px;
    padding-block: 25px 20px;
  }
}

.white-block {
  width: 540px;
  margin-inline: auto;

  &__header {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-size: 32px;
    font-weight: 500;
    padding-block: 12px;
  }

  &__text {
    text-align: center;
    margin: 0;
    padding-top: 38px;
  }
}

.blue-container{
  background-color: $secondary-color;
  color: $text-white-color;
}

.works {
  display: flex;
  gap: 49px;

  &__item {
    padding-left: 70px;
    font-size: 21px;
    line-height: 25px;
    width: 141px;
    height: 50px;
    background: left no-repeat url("../assets/project.svg");
  }

  &__projects {
    font-size: 16px;
    letter-spacing: 0.05em;
  }
}

.main {
  &__section {
    background-color: $main-color;
  }
}

.processing-block {
  &__header {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-weight: 500;
    font-size: 32px;
  }
}

.processing {
  &__text {
    margin: 0;
    text-align: center;
    padding-block: 50px;
    width: 540px;
    margin-inline: auto;
  }

  &__video {
    padding-top: 7px;
  }
}

.copyright {
  padding-block: 50px;

  &__header {
    padding-bottom: 20px;
    font-size: 21px;
    font-weight: 500;
    margin: 0;
  }

  &__sign {
    font-size: 13px;
    font-weight: 400;
  }
}

@media (max-width: 1160px) {

  body {
    min-width: auto;
  }
  
  .navbar{
    &__list {
      flex-wrap: wrap;
      gap: 32px;
      font-size: 12px;
    }
  }
  .paragraph {
    font-size: 13px; 
    line-height: 21px;
  }
  
  .description {
    h1 {
    font-size: 32px;
    }

    &__button {
      padding-inline: 29px;
      padding-block: 18px 15px;
      font-size: 12px;
    }  
  }
  
  .white-block {
    max-width: 90%; 
    margin-inline: auto;

    &__header {
      font-size: 26px;
    }
    &__text {
      width: 100%;
      padding-inline: 10px; 
    }
  }
  
  .works {
    flex-wrap: wrap; 
    align-items: center;
    gap: 20px;
    justify-content: center;
  }
  
  .processing-block{
    &__header {
      font-size: 24px;
    } 
  }
  
  .processing {
    &__text {
    width: 100%;
    font-size: 14px; 
    line-height: 22px;
    padding-inline: 10px;
    }
     &__video iframe {
      height: 60vw;
      width: 100%; 
  }
  
  
  .copyright {
    &__header {
    font-size: 18px;
    }
    &__sign {
      font-size: 11px;
    }
    }
  }
}
  
@media (max-width: 375px) {
  body {
    min-width: 100%; 
  }
  
  .navbar{  
    &__list {
    flex-wrap: wrap;    
    gap: 16px;
    font-size: 9px;
    }
  }
  
  .description {
    h1 {
    font-size: 20px; 
    padding-top: 26px;
    padding-bottom: 20px;
    }
    &__button {
      max-width: 100%; 
      padding-inline: 20px; 
      padding-block: 12px 10px; 
      font-size: 10px;
    }
  }
  .paragraph {
    font-size: 10px; 
    line-height: 19px;
  }
  
  .white-block {
    width: 100%;

    &__header {
      font-size: 18px;
    } 
  }
  
  .works {
    flex-direction: column; 
    align-items: center;
    gap: 5vw;

    &__item {
      width: auto;
      font-size: 15px;
    }

    &__projects {
      font-size: 12px;
    }
  }
  
  .processing-block {
    &__header {
    font-size: 24px;
    }   
  }

  .processing {
    &__text {
    display: flex;
    justify-content: center;
    width: 100%;
    }

    &__video iframe {
      height: 50vw;
      width: 100%; 
    }
  }
    
  .copyright {
    &__header {
    font-size: 16px;
    } 
    &__sign {
      font-size: 9px;
    }
  }
}
